@page
@model HospiEnCasa.App.Frontend.Pages.CrearMedicoModel
@{
}

<div class="shadow p-3 mb-5 rounded col-7 offset-md-3 bg-white" id="Formulario">
  <p class="h6 display-6 mb-3 text-center text-primary fw-bold">Nuevo Medico
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-plus-fill"
      viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      <path fill-rule="evenodd"
        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
  </p>

  @* <form class="row form-floating mb-3 col-12 ps-5" method="POST"> *@
  <form class="row form-floating mb-3 col-12 ps-5 formulario" method="POST">
    <div class="form-floating mb-3 col-6">
      <input asp-for="Medico.Nombre" class="form-control" id="floatingInput" placeholder="Nombre" type="text">
      <label class="form-label ms-2">Nombre</label>
      <span asp-validation-for="Medico.Nombre" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 col-6">
      <input asp-for="Medico.Apellidos" class="form-control" id="floatingInput" placeholder="Apellidos" type="text">
      <label class="form-label ms-2">Apellidos</label>
      <span asp-validation-for="Medico.Apellidos" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 col-6">
      <select asp-for="Medico.Genero" class="form-select" id="Genero">
        <option selected disabled value="">Seleccione...</option>
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
      <label class="form-label ms-2">Genero</label>
    </div>

    <div class="form-floating mb-3 col-6">
      <input asp-for="Medico.NumeroTelefono" class="form-control" id="floatingInput" placeholder="Número de Teléfono"
        type="text">
      <label class="form-label ms-2">Número de Teléfono</label>
      <span asp-validation-for="Medico.NumeroTelefono" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 col-6">
      <select asp-for="Medico.Especialidad" class="form-select" id="Especialidad">
        <option selected disabled value="">Seleccione...</option>
        <option>Cardiologia</option>
        <option>Urologia</option>
      </select>
      <label class="form-label ms-2">Especialidad</label>
    </div>

    <div class="form-floating mb-3 col-6">
      <input asp-for="Medico.RegRethus" class="form-control" id="floatingInput" placeholder="RegRethus"
        type="text">
      <label class="form-label ms-2">RegRethus</label>
      <span asp-validation-for="Medico.RegRethus" class="text-danger"></span>
    </div>

    <div class="crear">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-outline-info" asp-page="ListadoMedicos">Regresar al Listado</a>
    </div>

    <div class="error" role="alert">
      <h5>@ViewData["Error"]</h5>
    </div>
  </form>

</div>
