@page
@model HospiEnCasa.App.Frontend.Pages.CrearPacienteModel
@{
}

<div class="shadow p-3 mb-5 rounded col-7 offset-md-3 bg-white" id="Formulario">
  <p class="h6 display-6 mb-3 text-center text-primary fw-bold">Nuevo Paciente
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-plus-fill"
      viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      <path fill-rule="evenodd"
        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
  </p>

  <form class="row form-floating mb-3 col-12 ps-5" method="post">

    <div class="form-floating mb-3 col-6 ">
      <input asp-for="Paciente.Nombre" type="text" class="form-control " id="floatingInput" placeholder="Nombre">
      <label for="floatingInput" class="ms-2">Nombre</label>
      <span asp-validation-for="Paciente.Nombre" class="text-danger"></span>
    </div>

    <div class="form-floating col-6">
      <input asp-for="Paciente.Apellidos" type="text" class="form-control " id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput" class="ms-2">Apellidos</label>
            <span asp-validation-for="Paciente.Apellidos" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 col-6 ">
      <select asp-for="Paciente.Genero" class="form-select" id="Genero">
        <option selected disabled value="">Seleccione...</option>
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
      <label for="floatingInput" class="ms-2">Género</label>
    </div>

    <div class="form-floating mb-3 col-6">
      <input asp-for="Paciente.FechaNacimiento" type="date" class="form-control " id="floatingInput" placeholder="FechaNacimiento">
      <label for="floatingInput" class="ms-2">Fecha de Nacimiento</label>
    </div>
    <div class="form-floating col-6 ">
      <input asp-for="Paciente.NumeroTelefono" type="text" class="form-control " id="floatingInput" placeholder="NumeroTelefono">
      <label for="floatingInput" class="ms-2">Número de Teléfono</label>
    </div>
    <div class="form-floating mb-3 col-6">
      <select asp-for="Paciente.Ciudad" class="form-select" id="ciudad">
        <option selected disabled value="">Seleccione...</option>
        <option>Armenia</option>
        <option>Bogota</option>
        <option>Cali</option>
        <option>Manizales</option>
        <option>Medellin</option>
        <option>Pereira</option>
      </select>
      <label for="floatingInput" class="ms-2">Ciudad</label>
    </div>
    <div class="form-floating col-6 ">
      <input asp-for="Paciente.Direccion" type="text" class="form-control " id="floatingInput" placeholder="Dirección">
      <label for="floatingInput" class="ms-2">Dirección</label>
    </div>

    <div class="form-floating mb-3 col-6">
      <input asp-for="Paciente.Coordenadas" type="text" class="form-control " id="floatingInput"
        placeholder="Coordenadas">
      <label for="floatingInput" class="ms-2">Coordenadas</label>
    </div>

    <div class="crear">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-outline-info" asp-page="ListadoPacientes">Regresar al Listado</a>
    </div>
  </form>
  <div class="error" role="alert">
    <h5>@ViewData["Error"]</h5>
  </div>
</div>