@page
@model HospiEnCasa.App.Frontend.Pages.VerPacienteModel
@{
}

<div class="row col-10 offset-4">
  <div class="card shadow p-3 mb-5 rounded" style="width:30rem">
    <img class="card-img-top img-thumbnail img-fluid" src="~/imagenes/paciente2.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title mb-4"><b>Información del Paciente</b></h4>
      <p class="card-text"><b>Nombre : </b> @Model.Paciente.Nombre</p>
      <p class="card-text"><b>Apellidos : </b> @Model.Paciente.Apellidos</p>
      <p class="card-text"><b>Género : </b> @Model.Paciente.Genero</p>
      <p class="card-text"><b>Teléfono : </b> @Model.Paciente.NumeroTelefono</p>

      <a class="btn btn-outline-info" asp-page="ListadoPacientes">Regresar al Listado</a>
    </div>
  </div>
</div>
